.description {
  color: #ffffffc2;
  @media (max-width: 1024px) {
    font-size: 19px;
  }
}

.more-button {
  color: #ffffffc2;
  border-color: #ffffffc2;
  @media (max-width: 1024px) {
    color: rgba(0, 0, 0, 0.5);
  }
}

.upsell {
  background-color: #ffffff30;
  @media (max-width: 1024px) {
    background-color: var(--brand-color);
  }
}

.mobile-actions-container {
  padding-top: 40px;
}
